/* html{
  background-color: black;
} */

body{
  background-color: black;
}

.jumbotron{
  background-image: url(../images/jumboBg.jpg);
  background-size: cover;
}

h1{
  /* background-color: azure; */
  margin-bottom: 0%;
}

#banner{
  max-width: 45%;
}

.colorMe{
  background-color: olivedrab;
}